.button {
  &.--circle {
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    border: .1rem solid $c-gray;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
    &:hover {
      background: $c-gray;
    }
  }

  svg {
    width: 2rem;
    height: 2rem;
  }
}
