.button {
  position: relative;
  padding: 2rem;
  border: .1rem solid $c-gray;
  font-size: 1.6rem;
  font-weight: 400;
  transition: .3s ease-in-out;

  &:hover {
    background: $c-gray;
    cursor: pointer;
    border: .1rem solid $c-gray-dark;
  }


  &.--circle {
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    border: .1rem solid $c-gray;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
    background: $c-white;
    &:hover {
      background: $c-gray;
    }
  }

  &.--white {
    background: linear-gradient(145deg, #e6e6e6, #ffffff);
    transition: .3s ease-in-out;
    &:after {
      position: absolute;
      content: '';
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(145deg, #e6e6e6, #e6e6e6);
      transition: opacity 0.5s ease-out;
      z-index: -1;
      opacity: 0;
      border-radius: 2.5rem;
    }

    &:hover{
        &:after {
          opacity: 1;
        }
    }
  }

  &.--shadow {
    box-shadow:  5px 5px 23px #e3e3e3,
    -5px -5px 23px #ffffff;
  }

  svg {
    width: 2rem!important;
    height: 2rem;
  }
}
