.listing {
  display: grid;
  gap: 3rem;

  @include down(md) {
    display: flex;
    flex-direction: column;
  }
}

.site-main {
  &.--archive {
    .row {

    }
  }
}


.page-header {
  h2 {
    font-size: 2rem;
  }
}
