@include fontFace('Open Sans', 400, normal, 'OpenSans', 'Regular');
@include fontFace('Open Sans', 400, italic, 'OpenSans', 'Italic');
@include fontFace('Open Sans', 700, normal, 'OpenSans', 'Bold');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;700&display=swap');
html {
	font-size: 10px;
}

body {
	font-size: 1.4rem;
	font-weight: 400;
	font-family: $f-main;
	color: $c-text;
	-webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin-top: 0;
	font-family: $f-headings;
	color: $c-primary;
	font-weight: 700;
}
h1 {
  font-size: 3.4rem;
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 2.4rem;
}

h4 {
  font-size: 2rem;
}

h5 {
  font-size: 1.8rem;
}

h6 {
  font-size: 1.6rem;
}


a {
	color: $c-primary;
	text-decoration: none;

	&:hover {
		text-decoration: underline;
	}
}

p {
  font-size: 1.6rem;
  line-height: 2.6rem;
}
