.front-page {
  &__hero {
    height: 70vh;
    position: relative;
    &.text {
      display: flex;
      flex-direction: column;
      justify-content: center;
      max-width: 35rem;
    }

    h1 {
      font-size: 7rem;
      color: $c-primary;
      background: linear-gradient(90deg,$c-light 50%,#0000 0) right -.0625rem bottom/220% 100%;
      transition: .4s cubic-bezier(.5,.15,.5,.85);
      margin-bottom: 1rem;

      &:hover{
        background-position: 0 100%;
        color: $c-primary;
      }
    }

    p {
      text-transform: uppercase;
      letter-spacing: 1.1rem;
      margin-bottom: 4rem;
    }
    &.background {
      position: absolute;
      right: 0;
      top: 0;
      bottom: 0;
      width: 50%;
      clip-path: polygon(0% 100%, 21% 0%, 100% 0%, 100% 100%);
      background-image: url("../images/back.png");
    }

    &--buttons {
      max-width: 25rem;
    }
  }
}




.particle {
  position: absolute;
  border-radius: 50%;
}

@for $i from 1 through 30 {
  @keyframes particle-animation-#{$i} {
    100% {
      transform: translate3d((random(90) * 1vw), (random(90) * 1vh), (random(100) * 1px));
    }
  }

  .particle:nth-child(#{$i}){
    animation: particle-animation-#{$i} 60s infinite;
    $size: random(5) + 5 + px;
    opacity: random(100)/50;
    height: $size;
    width: $size;
    animation-delay: -$i * .2s;
    transform: translate3d((random(90) * 1vw), (random(90) * 1vh), (random(100) * 1px));
    background: $c-white ;
  }
}
