@import '../../../../assets/styles/block';

.block-logo-carousel {
  position: relative;
  padding: 10rem 0;
  @include down(xl) {
    overflow-x: scroll;
  }
  .row {
    flex-direction: row;
  }

  h2 {
    text-align: center;
    font-size: 6rem;
  }


  &__item {
    display: flex;
    justify-content: center;
    flex-direction: column;
    img{
      max-width: 15rem;
      height: auto;
      filter: grayscale(.8);

      &:hover {
        filter: grayscale(0);
      }

      @include down(md) {
        max-width: 6rem;
      }
    }
  }
}
