* {
  box-sizing: border-box;
}

.wrapper {
  width: 100%;
  max-width: 128rem;
  margin: 0 auto;
  padding: 0 1.5rem;
  position: relative;
}

.row {
  display: flex;
  justify-content: space-between;
}

a {
  &:hover {
    text-decoration: none;
  }
}

.page-header {
  @include up(md) {
    margin-top: 6rem;
    margin-bottom: 4rem;
  }
}
