.sidebar {

  @include up(lg) {
    width: 40rem;
  }
  &__widget {
    .widget_block {
      &.widget_media_image {
        background: transparent;
        display: flex;
        justify-content: center;
      }
      position: relative;
      background: #f7f7f7;
      margin: 2rem 0;
      border-radius: 2.5rem;ś
      h3 {
        padding: 2rem;
      }
      ul {
        list-style-type: none;
        font-size: 1.4rem;
        li {
          display: flex;
          align-items: center;
          padding: 1rem 2rem;
          img {
            margin-right: 1rem;
          }
          transition: .2s ease-in-out;
          &:hover {
            background: $c-gray;
          }
          &:first-of-type {
            padding-top: 2rem;
            border-top-left-radius: 2.5rem;
            border-top-right-radius: 2.5rem;
          }
          &:last-of-type {
            border-bottom-left-radius: 2.5rem;
            border-bottom-right-radius: 2.5rem;
            border: none;
          }
        }
      }
    }
  }
}
