@import '../../../../assets/styles/block';

.block-contact {
  position: relative;
  background-size: contain;
  padding: 0!important;

  .row {
    @include down(md) {
      flex-direction: column;
    }
  }
  h2 {
    font-size: 5rem;
    text-align: center;
    margin-bottom: 6rem;
  }
  &__box {
    width: 33.3333333%;
    padding: 10rem 4rem;
    text-align: left;
    @include down(md) {
      width: 100%;
    }

    &.--map {
      padding: 0;
    }

    &.--black {
      background: $c-main;
      color: $c-white;
      h1, h2, h3, h4, h5, h6 {
        color: $c-white;
      }
    }

    &.--light {
      background: $c-light;
      color: $c-main;
    }

    p {
      font-size: 2rem;
    }

    svg {
      width: 6rem;
      height: 7rem;
    }
    &.ui__glassed {
      backdrop-filter: blur(16px) saturate(200%);
      -webkit-backdrop-filter: blur(16px) saturate(200%);
      background-color: rgba(255, 255, 255, 0.4);
      border: 1px solid rgba(255, 255, 255, 0.125);

    }
  }
  .row {
  }

  .featured__accent {
    left: 30rem;
    top: 2rem;
    width: 40rem;
    height: 40rem;
    background: $c-green-rgba;

    &.--green {
      right: 30rem;
      left: auto;
    }

    &.--blue {
      background: $c-light-rgba!important;
      left: 40%;
      top: 20rem;
    }
  }

}
