.block-editor {
  .editor-styles-wrapper,
  .editor-post-title__block .editor-post-title__input {
    font-family: $f-main;
  }
  .wp-block {
    max-width: calc(100% - 68px);
  }
}

.acf-block-component {
  & > div > .acf-block-fields {
    & > .acf-field-group[data-name='data'] {
      padding: 0;

      & > .acf-label {
        display: none;
      }

      & > .acf-input {
        & > .acf-fields {
          border: none;
        }
      }
    }
  }
}
